* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: rgb(150, 194, 194);
}

.app-div {
  display: flex;
  gap: 30px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(206, 187, 187);
  position: sticky;
  top: 10px;
  z-index: 1;
  margin: 30px;
  height: 50px;
  border: 1px solid rgb(89, 84, 84);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
}

.header__div {
  display: flex;
  align-items: center;
}

.nav {
  display: flex;
  background-color: aliceblue;
  margin: 20px;
  border-radius: 5px;
}

.nav__link {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
  padding: 20px;
}

.nav__link:hover {
  background-color: rgb(112, 73, 149);
  color: azure;
}

.page-div {
  display: flex;
  padding: 20px;
  background-color: beige;
  border: 2px solid grey;
  margin-left: 20px;
  margin-right: 20px;
}

.page-div__title {
  font-size: 28px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.header__text {
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 400;
}

.header__photo {
  width: 30px;
  height: 30px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(206, 187, 187);
  border: 1px solid rgb(89, 84, 84);
  padding: 20px;
  margin-top: 40px;
}

.basket-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  // align-items: center;
}
